* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  display: flex;
  height: 2.5rem;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: antiquewhite;
}
li > a {
  text-decoration: none;
  color: rgb(80, 45, 21);
  /*make a var later for this*/
}
a:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
  color: rgb(133, 194, 255);
}

.container {
  position: relative;
  display: inline-block;
  text-align: center;
}

#immagine {
  width: 100%;
  vertical-align: middle;
}
#TestoImmagine {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #442c18;
  color: #ffe7df;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}
